<%- include ('head') %>
<div>    
     <img src="/404.png" alt="gato error not found"style="display: block; margin: auto;" >

</div>
<div>
        <h1>
            <%=title %>
        </h1>
           

        <a href="/">Volver al inicio</a>
    </div>
    <% include ('footer') %>