<footer>
    <div class="footer">
        <p>Contactanos: XSXSXD@gmail.com</p>
        <p>Ubicacion: Marquez 1345, BsAs, Argentina</p>
        <p> <a href="">Terminos y condiciones</a></p>
    </div>
</footer>